@view-transition {
	navigation: auto;
}

:root {
	view-transition-name: none;
}

::view-transition {
	pointer-events: none;
}

::view-transition-image-pair(menu-button) {
	animation-name: rotate;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 180deg;
	}
}