body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;

	>* {
		width: calc(30rem + 48px);
	}
}

* {
	margin: 0;
}

:not(input, textarea) {
	padding: 0;
}

li {
	list-style: none;
}

#talk {
	display: grid;
	grid-template:
		"i n" auto
		"i b" 1fr
		"f f" auto / auto 1fr;

	>.icon {
		grid-area: i;

		[name] {
			display: none;
		}
	}

	>.name {
		grid-area: n;
	}

	>.body {
		grid-area: b;
	}

	>menu {
		grid-area: f;
		display: flex;
		justify-content: space-between;
	}
}