#navigator-container {
	all: revert;
	position: fixed;
	left: 0;
	top: 0;
	width: 100dvw;
	height: 100dvh;
	z-index: 100;
	pointer-events: none;

	* {
		all: revert;

		margin: 0;
		padding: 0;
		font-size: 100%;
	}
}

#navigator-container {
	box-sizing: border-box;
	padding: 0.4em 0.2em;
	font-size: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.navigator-toast {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 8px;
		background-color: #fff8f4e0;
		border: 1px solid #ffffff;
		border-radius: 4px;
		box-shadow: 0px 1px 3px #00000033;
		pointer-events: auto;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.2;
		}
	}

	.navigator-icon {
		width: 3em;
		height: 3em;
	}
}